.title a {
  text-decoration: none;
  font-family: 'Pacifico';
  color: rgb(39, 44, 41);
  font-weight: 400;
  font-size: 1.7rem;
}
.headerNav {
    display: none;
  }


  @media (min-width: 768px) {
   
    .headerNav {
      display: block;
    }
  }